.banner {
  position: relative;
  min-height: 1rem;
  overflow: hidden;
  background: var(--color-turquoise);
}

.bannerImage {
  display: block;
  width: 100%;
  height: auto;
}

.content {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}
