@import "../../styles/utilities";

.button {
  position: relative;
  display: inline-block;
  height: 2.5rem;
  min-width: 10rem;
  margin: 0 1rem 1rem 0;
  padding: 0.25rem 1rem 0.25rem 3.75rem;
  background: $turquoise;
  color: $white;
  text-align: left;
  line-height: 2rem;
  font-weight: 700;
  transition: all 0.5s ease;

  &:last-of-type {
    margin-right: 0;
  }

  .icon {
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: inline-block;
    width: 2.75rem;
    height: 2.5rem;
    padding: 0.45rem 0.75rem;
    font-size: 1.5rem;
    margin-right: 0.75rem;
    background: darken($turquoise, 15%);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -0.5rem;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 2.5rem 0.5rem 0 0;
      border-color: darken($turquoise, 15%) transparent transparent transparent;
    }
    svg {
      fill: $turquoise;
      transition: all 0.5s ease;
    }
  }

  &:hover {
    background: $tiffany;
    color: $white;
    cursor: pointer;

    .icon {
      svg {
        fill: $tiffany;
      }
    }
  }

  &.alt {
    background: $lightgrey;
    color: $charcoal;

    .icon {
      background: $charcoal;
      color: $lightgrey;

      &:after {
        border-color: $charcoal transparent transparent transparent;
      }

      svg {
        fill: $turquoise;
      }
    }

    &:hover {
      background: $turquoise;
    }
  }
}
