@import "../../styles/utilities";

.mailchimp {
  max-width: 20rem;
  background: #eee;
}

.form {
  fieldset {
    border: 0;
    padding: 0;

    &[disabled] {
      opacity: 0.5;
    }
  }
}

.inputs {
  display: flex;

  input {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    height: 2.5rem;
    padding: 0rem 1rem;
    background: $lightgrey;
    border: 0;
  }
  button {
    flex: 0 0 4rem;
    display: inline-block;
    vertical-align: middle;
    height: 2.5rem;
    font-size: 1.25rem;
    padding: 0.15rem 0.75rem 0 0.5rem;
    background: $turquoise;
    color: $white;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: $charcoal;
    }

    svg {
      transform: rotate(20deg);
    }
  }
}

.message {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
  padding: 0.5rem 0.75rem;
  background: $rose;
  color: $white;

  svg {
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }
  p {
    margin: 0;
  }
}
