.button {
  position: relative;
  display: block;
  height: 2.5rem;
  min-width: 10rem;
  max-width: 15rem;
  margin: 1rem auto;
  padding: 0.25rem 1rem 0.25rem 3.75rem;
  background: var(--color-turquoise-dark);
  color: var(--color-white);
  text-align: left;
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  transition: all 0.5s ease;
}

@media (min-width: 48.75rem) {
  .button {
    display: inline-block;
    margin: 0 1rem 1rem 0;
  }

  .button:last-of-type {
    margin-right: 0;
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 2.75rem;
  height: 2.5rem;
  padding: 0.45rem 0.75rem;
  font-size: 1.5rem;
  margin-right: 0.75rem;
  background: var(--color-turquoise-darker);
}

.icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5rem 0.5rem 0 0;
  border-color: var(--color-turquoise-darker) transparent transparent transparent;
}

.icon svg {
  fill: var(--color-turquoise);
  transition: all 0.5s ease;
}

.button:hover {
  background: var(--color-saffron);
  color: var(--color-turquoise-darker);
  cursor: pointer;
}

.button:hover .icon svg {
  fill: var(--color-saffron);
}

.alt {
  background: var(--color-lightgrey);
  color: var(--color-charcoal);
}

.alt .icon {
  background: var(--color-charcoal);
  color: var(--color-lightgrey);
}

.alt .icon::after {
  border-color: var(--color-charcoal) transparent transparent transparent;
}

.alt .icon svg {
  fill: var(--color-turquoise);
}

.alt:hover {
  background: var(--color-turquoise);
}
