@import "./utilities";

body {
  color: $charcoal;
  background: $white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
}

.container {
  min-width: 320px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;

  @include breakpoint(tablet) {
    padding: 0 2rem;
  }
}

.content {
  margin: 2rem 0;

  @include breakpoint(tablet) {
    padding-left: 2rem;
    padding-right: 6rem;
  }
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

.bm-burger-button {
  position: fixed;
  width: 2rem;
  height: 1.5rem;
  right: 1.25rem;
  top: 1.25rem;

  @include breakpoint(tablet) {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
