@import "../../styles/utilities";

.skillsGrid {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // column-gap: 3rem;
}

.skillsTitle {
  // padding-bottom: 0.75rem;
  // border-bottom: 2px dashed $lightgrey;
}
.skillsItem {
  position: relative;
  margin: 2rem 0;
  border-bottom: 2px dashed $lightgrey;

  @include breakpoint(desktop) {
    margin: 3rem 0;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  img {
    display: block;
    width: 6rem;
    margin: 0 0 1rem;

    @include breakpoint(desktop) {
      position: absolute;
      left: -7.5rem;
      top: -0.75rem;
      width: 6rem;
    }
  }
}
