body {
  color: #373f49;
  background: #eee;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem;
}

.content {
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 6rem;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}
