.header {
  position: relative;
  z-index: 100;
  background: var(--color-white);
}

.headerContent {
  padding: 0;
  margin: 0;
  height: 4rem;
}

@media (min-width: 48.75rem) {
  .headerContent {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 6rem;
  }
}

.headerLogo {
  min-width: 6rem;
}

.headerLogo img {
  width: 5rem;
  height: 5rem;
  margin: 0;
}

@media (min-width: 48.75rem) {
  .headerLogo img {
    width: 8rem;
    height: 8rem;
  }
}
