.footer {
  min-height: 10rem;
  padding: 2rem 0 1rem;
  background: var(--color-charcoal);
  color: var(--color-white);
  text-align: center;
}

.credits {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 2px solid #3d3d3d;
  padding: 1rem 0 0;
}

@media (min-width: 48.75rem) {
  .credits {
    flex-direction: row;
    justify-content: space-between;
  }
}

.credits a {
  color: var(--color-white);
}

.credits a:hover {
  color: var(--color-turquoise);
}

.contact {
  font-size: 0.75rem;
  margin: 0;
}

.copyright {
  font-size: 0.75rem;
  margin: 0;
}

.buttons {
  padding: 1rem 0;
}

.buttons h3 {
  margin-top: 0;
}

.buttons p {
  margin-bottom: 1rem;
}
